html {
  width: 50vw;
  margin: auto;
  text-align: center;
  background-color: snow;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  justify-content: center;
}
/* ------------------------------- search bar ------------------------------- */
#searchBar {
  font-size: 75%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#dateBox {
  float: left;
}
#date {
  font-weight: 300;
}
#searchBox {
  /* margin: auto; */
  float: right;
  /* margin: auto; */
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 115px;
}
#locationSearch {
  /* margin: auto; */
  /* margin-right: 40px; */
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
  padding-left: 20px;
  background-color: #fff;
  border: 1.5px solid #000;
  box-shadow: none;
  -webkit-appearance: none;
  text-align: center;
  outline: none;
}
/* ---------------------------------- error --------------------------------- */
#errorBar{

  float: right;
  margin:0;
  padding: 0;
text-align: right;
}
#errorBox {
  float: right;
  width:300px;
  /* padding-right: 7em; */
}
#errorMessage{
  font-size: 55%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align:center;
  color: darkred;
  font-style: italic;
}
/* --------------------------------- content -------------------------------- */
body {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
#mainWindow {
}
#today {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
/* -------------------------------- location -------------------------------- */
#temp {
  font-size: 300%;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 15px;
}
#locationBox {
  text-align: left;
  font-size: 100%;
  width: fit-content;
  margin: auto;
}
#city {
  display: inline;
  font-weight: 500;
}
#locationComma {
  font-size: 80%;
  display: inline;
  font-weight: 300;
  padding: 0;
}
#country {
  font-size: 80%;
  display: inline;
  font-weight: 100;
}
/* -------------------------------- condition ------------------------------- */
#conditionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 80%;
}
#condition {
  align-self: center;
  font-weight: 300;
}
#weatherIcon {
  align-self: center;
  width: 50px;
  height: auto;
}
/* -------------------------------- forecast -------------------------------- */
#forecast {
  font-size: 75%;
}
#dailyForecast {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.dailyForecast {
  font-weight: 200;
}